/*163 lines before combining */


body {
    display:flex;
    flex-direction:column;
    margin:0px;
}

.header,
.footer,
.box-one {
    display:flex;
    flex-direction:row;
    background-color:#1F2937;
    color:#E5E7EB;
    align-items:center;
}

.header {
    justify-content:space-between;
    padding: 0px 100px;
}

.footer {
    justify-content:center;
}

.header ul {
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:18px;
}

a {
    text-decoration: none;
    color:#E5E7EB;

}

.header-logo {
    font-size: 24px;
    color:#F9FAF8;
}

.content {
    display:flex;
    flex-direction:column;
}

.box-one {
    justify-content:space-between;
    padding:100px;
    
}

.box-two,
.box-three,
.four-text,
.one-content {
    display:flex;
    flex-direction: column;
}

.box-two {
    align-items:center;
    margin:64px;
}

.box-three {
    background-color:#E5E7EB;
    padding:100px 200px;
}

.box-four {
    display:flex;
    background:#3882F6;
    color:white;
    margin:100px;
    padding:48px 0px;
    justify-content:space-around;
    border-radius: 10px;
}

.one-title {
    color:#F9FAF8;
    font-size:48px;
    font-weight:800;
}

.one-text{
    color:#E5E7EB;
    margin-bottom:8px;
}

.one-content{
    align-items:flex-start;
}

h4 {
    margin:0;
}

.blue-box {
    height:80px;
    width:80px;
    border:5px solid #3882F6;
    border-radius: 10px;
}

.box-two ul {
    list-style: none;
    display:flex;
    flex-direction:row;
    gap:20px;
    padding: 0px;
}

.box-two ul li {
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
    max-width:150px;
}

.box-two h4 {
    font-size: 36px;
    font-weight: 800;
    color:#1F2937;
}
.quote {
    font-size: 24px;
    font-style:italic;
    color: #1F2937;
}

.quote-attribution {
    font-size:24px;
    color: #1F2937;
    align-self:flex-end;
    font-weight: 700;
    padding-inline-end: 1em;
}

.box-one img {
    flex-basis:200px;
    padding-left:16px;
}

button {
    background:#3882F6;
    color:white;
    border-radius:8px;
    border-style:none;
    padding:8px 24px;
}

.white-outline {
    border:3px solid white;
}

